
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mymodel">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body >
 

    <div ng-controller="schoolcontroller">
        <div ng-controller="studentmycontroller">
          in student:  {{message}}
        </div>
        <div ng-controller="techmycontroller">
           in teacher: {{message}}
        </div>

       from school: {{message}}
    </div>
</body>
</html>
